@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Override Emerald with Brand Blues */
  --color-emerald-50: #f2f9fc;
  --color-emerald-100: #e1f1f8;
  --color-emerald-200: #c5e5f2;
  --color-emerald-300: #9dd3e9;
  --color-emerald-400: #7bbdd7;
  --color-emerald-500: #5aa4c2;
  --color-emerald-600: #437f98;
  --color-emerald-700: #36667a;
  --color-emerald-800: #2d5363;
  --color-emerald-900: #264653;
  --color-emerald-950: #182d36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
